@media screen  {

    html {
        background: url(Assets/Background2.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    @font-face {
        font-family: testing;
        src: url(AvenirNext-Medium.woff);
    }
    * {
        font-family: testing;
    }
    .section {
        position: static;
        min-height: 300px;
        transform-style: inherit;
    }

    #sec2 {
        /*background-image: url(Assets/concert.png);*/
        background-color: rgba(31, 48, 56, 0.9);

        background-repeat: no-repeat;
        height: 600px;
        box-shadow: 0 4px 50px 10px;
    }


    #sec3 {
        height: 800px;
    }


    .bgImage {
        opacity: 0.6;
    }

    h1 {
        /*                font-family: Verdana, Geneva, sans-serif;*/
        color: white;
    }

    iframe {

        box-shadow: 0 4px 50px 10px;
    }

    a {
        text-decoration: none;
        text-decoration-line: none;
        color: white;
        font-size: 15px;
    }

    p {
        color: white;
        padding: 0px 150px;
    }

    button {
        height: 50px;
        width: 200px;
        background-color: dodgerblue;
        border-style: none;
        box-shadow: 0 0px 50px 1px;
    }

    h2 {
        color: white;
    }

    #quotes {
        padding: 30px 150px;
    }

    .first {
        top: 100px;
    }

    strong {
        color: white;
    }

    .img {
        float: right;
        width: 520px;
    }

    .icons {
        margin-top: -20px;
        display: inline-block
    }

    td {
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }

    tr {

        color: white;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

    .coinmarketcap-currency-widget {
        width: 33%;
        color: white;
        margin: 0 auto;
    }



    .nav {
        float: right;
    }

    .container {
        width: 95%;
        margin: 0 auto;
    }

    nav ul {
        margin: 0;
        padding: 0;
    }

    nav li {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px;
        padding-top: 30px;
        position: relative;
    }

    .logo {
        float: left;
        padding: 20px 0;
    }

    header {
        background-color: rgba(31, 48, 56, 0.9);
        box-shadow: 0 0px 10px 5px;
        position: sticky;
        top: 0;
        height: 65px;
    }

    header:after {
        content: "";
        display: table;
        clear: both;
    }

    nav a:hover {
        text-decoration: none;
        color: #08b4e0;
        transition: all ease-in-out 200ms;
    }

    ul li {
        list-style-type: none;
        display: inline-block;
        padding: 25px 20px;
    }


    .article {}

    .jumbotron {
        width: 100%;
        padding: 40px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        box-shadow: 0 4px 50px 10px;
        background-color: rgba(31, 48, 56, 0.7);
    }

    footer {
        background-color: rgba(31, 48, 56, 1);
        height: 300px;
        box-shadow: 0 4px 50px 10px;
    }
}
