

    html {
        background: url(Assets/Background2.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    body{
        margin: 0;
    }
    @font-face {
        font-family: testing;
        src: url(AvenirNext-Medium.woff);
    }
    * {
        font-family: testing;
    }
    .section {
        position: static;
        min-height: 300px;
        transform-style: inherit;
        max-width: 100%;
    }

    h1 {
        color: white;
    }
    a {
        text-decoration: none;
        text-decoration-line: none;
        color: white;
        font-size: 15px;
    }

    p {
        color: white;
        padding: 0px 150px;
        
    }

    #quotes {
        padding: 30px 150px;
    }
    strong {
        color: white;
    }

    .img {
        width: 40%;
    }

    .icons {
        margin-top: -20px;
    }

    td {
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }

    tr {

        color: white;
    }

    table {
        margin-left: auto;
        margin-right: auto;
        z-index: 0;
    }

    .coinmarketcap-currency-widget {
        width: 33%;
        color: white;
        margin: auto;
        min-width: 33%;
        max-width: 50%;
    }


    .nav {
        float: right;
    }

    .container {
        width: 95%;
        margin: 0 auto;
    }

    nav ul {
        margin: 0;
        padding: 0;
    }

    nav li {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px;
        padding-top: 30px;
        position: relative;
    }

    .logo {
        float: left;
        padding: 20px 0;
        display: inline-block;
    }

    header {
        background-color: rgba(31, 48, 56, 0.9);
        box-shadow: 0 0px 10px 5px;
        position: sticky;
        top: 0;
        height: 65px;
        width: 100%;
        z-index: 1;
    }

    header:after {
        content: "";
        display: table;
        clear: both;
    }

    nav a:hover {
        text-decoration: none;
        color: #08b4e0;
        transition: all ease-in-out 200ms;
    }
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 25px 20px;
    }
    ul li {
        list-style-type: none;
        display: inline-block;
        padding: 25px 20px;
        color : white;
    }
td img{
    z-index: 0;
}
.icon{
    display: none;
    float: right;
    padding-top: 20px;
    padding-right: 30px;
    
}

    .jumbotron {
        width: 98%;
        padding: 40px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        box-shadow: 0 4px 50px 10px;
        background-color: rgba(31, 48, 56, 0.7);
    }

    footer {
        background-color: rgba(31, 48, 56, 1);
        height: 300px;
        box-shadow: 0 4px 50px 10px;
        width: 100%;
        text-align: center;
        padding-top: 50px;
        margin-right: -50px;
        margin-top: 20px;
        padding-right: 0px;
        min-height: 400px;
        max-width: 100%;
    }
input{
    display: none;
}

.label{
    display: none;
    float: top;
    float: right;
    display: none;
    color: white;
    margin-top: -52px;
    font-size: 20px;
}
.menu{

    width: 100%;
}
.menu li{
    text-decoration: none;
    color: white;
    margin: 0 10px;

}
.images{
    width: 100px;
}
.vid{
    width: 854px;
    height: 480px;
}
@media only screen and (max-width:1330px){
    .vid{
        max-width: 304px;
        height: 171px;
    }
    .label{
        display: block;
        cursor: pointer;
    }
    .nav{
        text-align: center;
        width: 100%;
    }
    .jumbotron{
        max-width: 80%
    }
    table{
        margin-left: -40px;
        margin-right: auto;
    }
    p{
        padding: 0 0px;
    }
    strong{
        padding: 0 0;
    }
    #quotes{
        padding: 0 0;
    }
    .nav li{
        display: block;
        margin: 0;
    }
    #toggle:checked + .menu{
        display: block;
    }
    .menu{
        background-color: rgba(31, 48, 56, 1);
        margin-top: -5px;
        display: none;
        border-style: solid;
        border-color: dodgerblue;
        
        border-width: 1px;
        border-top-width: 0;
    }
    .img{
        width: 100%
    }
    .coinmarketcap-currency-widget {
        width: 33%;
        color: white;
        margin: auto;
        transform: translate(-100px);
        min-width: 33%;
        max-width: 50%;
    }
    .images{
        
        width: 50px;
        padding: 0 0;
        margin: auto;
    }
    ul li {
        list-style-type: none;
        display: inline-block;
        padding: 10px;
        margin-top: 10px;
    }

    tr td{
        max-width: 80px;
        transform: scale(0.8);
        padding: 0;
        margin: 0;
        border-collapse: collapse;
        border-spacing: 0px;
    }
    .large{
        transform: translateY(-10px);
        font-size: 12px
    }
    
}




        
